<div class="container">
    <h2 class="text-center">Gestion des livres</h2>
    <h4>Liste des livres</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th> Id</th>
                <th>Titre</th>
                <th> Auteur</th>
                <th>Nouveau</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>            
        </thead>
        <tbody>

        </tbody>
    </table>
    <h4>Ajout d'un livre</h4>
    <label> Donnez le titre</label>
    <input type="text" class="form-control">
    <label> Donnez le prix</label>
    <input type="text" class="form-control"> <br>
    <label>
        <input type="checkbox"> Nouvelle édition
    </label>
    <br>
    <button class="btn btn-primary"> Ajouter</button>
    <input type="button" class="btn btn-secondary" value="Effacer"/> 
</div>

